:root {
--main-color: #757575;
--top-color: #212121;
--hit-color: #FFFFFF;
}
body{
    font-family:"Roboto", sans-serif;
    color: var(--top-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;}
.header-logo {
font-family: 'Raleway',sans-serif; 
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
/*------------ Header---------------- */
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--top-color);
}
.header-link:hover,
.header-link:focus {
    color: dodgerblue;
}
.header-list .link.current {
    color: dodgerblue;
}
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--main-color);
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus{
    color: dodgerblue;
}
/*------------ Header---------------- */
/*------------ Section-1---------------- */
.hero {
    background-color: #2F303A;
}
.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hit-color);
}
.hero-botton {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--hit-color);
cursor: pointer;
}
/*------------ Section-1---------------- */
/*------------ Section-2---------------- */
.peculiarities {
}
.peculiarities-list {
}
.peculiarities-iten {
}
.peculiarities-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--top-color);
}
.peculiarities-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color);
}
/*------------ Section-2---------------- */
/*------------ Section-3---------------- */
.work {
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--top-color);
}
.work-list {
}
.work-iten {
}
/*------------ Section-3---------------- */
/*------------ Section-4---------------- */
.about {
}
.about-list {
}
.about-iten {
}
.about-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--top-color);
}
.about-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/*------------ Section-4---------------- */
/*------------ Footer---------------- */
.footer {
    background-color: #2F303A;
}
.footer-title {
}
.footer-logo {
    font-family: 'Raleway',sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.address {
}
.address-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--hit-color);
}
.footer-list {
}
.footer-iten {
}
.footer-mail {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-tel:hover{
    color: dodgerblue;
}
/*------------ Footer---------------- */
/*------------ Портфоліо---------------- */
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-iten {
}
.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--top-color);
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus{
    color: var(--hit-color);
}
/*------------ Портфоліо---------------- */
/*------------ Проекти---------------- */
.project-list {
}
.project-iten {
}
.project-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--top-color);
}
.project-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color:var(--main-color);
}